<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842988213591-rr1v2mmgl01fsuvnopub2rgn1cr3k6sh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842988213591-rr1v2mmgl01fsuvnopub2rgn1cr3k6sh</string>
	<key>API_KEY</key>
	<string>AIzaSyCb3hx22SxmXlZwr8zpVgRQGPkOiC72c80</string>
	<key>GCM_SENDER_ID</key>
	<string>842988213591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.firstapp.dartprj</string>
	<key>PROJECT_ID</key>
	<string>notesappiguess</string>
	<key>STORAGE_BUCKET</key>
	<string>notesappiguess.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842988213591:ios:f07a44ba5ea411e2ed1a12</string>
</dict>
</plist>